* {margin: 0; padding: 0;}
.container {
    position: absolute;
    width: 100%;
    background-color: azure;
}
h2 { margin: 10px 0;}
h3 {
    color: #909090;
    margin: 10px 0;
}
footer {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;

    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: #fff;
    background-color: #39a090;
}
nav {
    position: absolute;
    width: 100%;
    min-width: 1000px;
    height: 50px;
    background-color: #39a090;

}
nav span {
    display: inline-block;
    width: 180px;
    height: 100%;
    padding: 5px 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
nav span img { height: 40px; }
nav ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 14px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
.content {
    position: absolute;
    width: 100%;
    top: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: url('../image/b45.png');
}
article, section, aside {
    position: relative;
    width: 100%;
    margin: 20px 0;
    padding: 25px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   /* border-right-style: ridge;
    border-bottom-style: ridge;*/
    box-shadow: 0 0 4px 2px #CFCFCF;
    background-color: #fff;
}
article header {
    width: 100%;
    height: 75px;

}
.author-time {
    width: 200px;
    height: 20px;
    font-size: 13px;
    color: #C1C1C1;
    padding: 3px 0;
}
article p {
    text-indent: 2em;
    line-height: 1.8em;
    margin: 10px 0;
}
article ul {
    list-style: none;
    text-indent: 1em;
}
article ol {
    margin: 1em 3em;
    font-weight: bold;
}
section figure {
    width: 190px;
    height: 190px;
    margin: 10px 2em;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #CFCFCF;
}
section figure figcaption { margin-bottom: 5px; }
section figure img { width: 160px; }
.table-container { width: 100%; }
.table-container table {
    width: 100%;
    border-top: 1px solid #008161;
    border-left: 1px solid #008161;
    font-size: 13px;
    text-align: center;
}
.table-container table tr td,
.table-container table tr th {
    border-right: 1px solid #008161;
    border-bottom: 1px solid #008161;
    padding: 3px;
}
.table-container table thead tr th {

    background-color: #39a090;
}
.table-container table tr.result td {
    font-weight: bold;
    background-color: #97FFE6;
}
aside h2 {
    border-left: 3px solid #39a090;
    padding: 0 10px;
}
aside form {
    width: 100%;
    height: 100%;
}
aside form > table input {
    height: 25px;
    padding: 3px;
    outline: none;
    border: 1px solid #b6b6b6;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
aside form > table input:focus { border-color: #55D1FF; }
aside form > table {
    width: 100%;
    font-size: 13px;
}
aside form > table tbody tr td:first-child {
    width: 40%;
    text-align: right;
}
aside form > table tbody tr td { padding: 5px; }
aside form > table tbody tr:last-child td { vertical-align: top; }
aside form > table tbody tr td.comments { color: #8A8A8A; }
aside form > table tbody input[type='radio'],
aside form > table tbody input[type='checkbox'] {
    height: 22px;
    vertical-align: text-top;
}
aside form > table tbody label {
    top: 3px;
    position: relative;
}
aside form > table textarea {
    width: 400px;
    height: 60px;
    outline: none;
    border: 1px solid #b6b6b6;
}
aside form > table textarea:focus { border-color: #55D1FF; }
aside form #submit {
    width: 100%;
    height: 40px;
    border: 1px solid #008161;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    background-color: #39a090;
    cursor: pointer;
}






































